.rbc-event-label {
  display: none !important;
}

/* Centra tu nuevo componente vertical dentro de la píldora del evento */
.rbc-event-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2px;
}
